<footer class="wrapper bg-primary text-light mt-xxl flex">
	<div class="col-3 ">
		<div class="logo title">Hestia</div>
		<div class="sub-title">Kathmandu Nepal</div>
	</div>
	<div class="col-3 ">
		<div class="bold">Navigation</div>
		<div class="py-sm">Home</div>
		<div class="py-sm">Home</div>
		<div class="py-sm">Home</div>
		<div class="py-sm">Home</div>
		<div class="py-sm">Home</div>
	</div>
	<div class="col-3 ">
		<div class="bold">Help and support</div>
		<div class="py-sm">FAQs</div>
		<div class="py-sm">Call us</div>
		<div class="py-sm">Message us</div>
	</div>
	<div class="col-3 ">
		<div class="text-bold">
			Social media
		</div>
		<div class="flex">
			<div class="py-sm">FB</div>
			<div class="py-sm">IG</div>
			<div class="py-sm">TT</div>
		</div>
	</div>
</footer>