{% extends 'base.html' %}
{% block content %}
<section class="wrapper">
    <h1 class="mt-xl">this is the {{title}} page</h1>

    {% for property in properties %}
        <div>{{property.title}}</div>
    <img src="media/{{property.cardImage}}" alt="">
    <a href="{% url 'property' property_id=property.id %}">test</a>
    {% endfor %}

    <div class="mt-xl">
        <form action="{% url 'temp' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="test" placeholder="Enter a text">
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
{% endblock %}