{% extends 'base.html' %}
{% block content %}
<main>
    <section class="featured full-width flex full-vh">
        <div class="text-area wrapper-x flex column justify-center half-width full-height wrapper-val">
            <div class="title">GharAagan</div>
            <div class="sub-title">Build your dream home</div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nos
            </div>
        </div>
        <div class="image-area half-width full-height">
            <img src="https://cdn.pixabay.com/photo/2021/09/26/08/41/lantern-6656783__340.jpg"
                 class="full-height full-width">
        </div>
    </section>
    <section class="wrapper">
        <div class="text-center title">Featured Realestate</div>
        <div class="flex mt-lg">
            {% for prop in featured %}
            <div class="col-3 px-sm">
                <div class="realestate card">
                    <img src="media/{{prop.cardImage}}"
                         class="full-width" height="150">
                    <div class="card-title bold sub-title">{{prop.title}}</div>
                    <div class="card-price">{{prop.description}}</div>
                        <a class="btn primary full-width" href="{% url 'property_details' property_id=prop.id %}">Inquire</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="wrapper bg-primary">
        <div class="text-center title text-light">Popular Realestate</div>
        <div class="flex mt-lg">
            {% for prop in latest %}
            <div class="col-3 px-sm">
                <div class="realestate card bg-light">
                    <img src="media/{{prop.cardImage}}"
                         class="full-width" height="150">
                    <div class="card-title bold sub-title">{{prop.id}}.{{prop.title}}</div>
                    <div class="card-price">{{prop.description}}</div>
                    <div class="mt-md full-width">
                        <a class="btn primary full-width" href="{% url 'property_details' property_id=prop.id%}">Inquire</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}