{% extends 'base.html' %}
{% block content %}
<section class="wrapper">
    <div class="flex pt-xl">
        <div class="half-width">
<img src="/media/{{property.cardImage}}"
     class="full-height full-width" alt="">
        </div>
        <div class="half-width pl-xl">
            <div class="title">
                {{property.title}}
            </div>
            <p class="sub-title">
                {{property.description}}
            </p>
        </div>
    </div>
</section>
{% endblock %}