{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
{% include 'partials/nav.html' %}

{% block content %}
{% endblock %}

{% include 'partials/footer.html' %}
</body>
</html>